* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  gap: 20px;
}

button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn-pulse {
  background-color: #ff006e;
  color: white;
  animation: pulse 1.5s infinite;
}

.btn-slide {
  background-color: #8338ec;
  color: white;
  animation: float 6s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    background-color: #0023e7;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(12px, -24px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-12px, -24px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
